@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0d1117;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #424242;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
/* scroll smoot */
html {
	scroll-behavior: smooth;
}