@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0d1117;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #9ca3af;
	border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d1d5db;
}
::-webkit-scrollbar-thumb:active {
	background: #edeef0;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
::-webkit-scrollbar {
	height: 8px; /* height of horizontal scrollbar ← You're missing this */
	width: 8px; /* width of vertical scrollbar */
	border: 1px solid #9ca3af;
}
html, body, #root {
	width: fit-content;
	height: 100%;
}
body {
	background-color: #0d1117;
	color: #fff;
}

.scroll::-webkit-scrollbar-track {
	background: #010409;
}
.scroll::-webkit-scrollbar-thumb {
	background: #9ca3af;
	border-radius: 50px;
}
.scroll::-webkit-scrollbar {
	width: 5px;
}
